// Fonts
$font__open-sans: "open sans";

//Font-size
$font-size__title-1: 64px;
$font-size__title-3: 36px;
$font-size__title-4: 24px;

$font-size__content: 16px;

$font-size__footer: 14px;


// Colors
$white: #fff;

// Gradients

// Shadows
$shadow-link-white: 0px 0px 5px rgba(255, 255, 255, 0.5);
$shadow-link-grey: 0px 0px 5px rgba(0, 0, 0, 0.5);
$shadow-link-black3: 0px 0px 2px rgba(0, 0, 0, 1);
$shadow-link-black5: 0px 0px 5px rgba(0, 0, 0, 1);
$shadow-link-black10: 0px 0px 10px rgba(0, 0, 0, 1);

// Paddings
$padding-page-desktop: 100px 135px 50px;

