// Fonts
$font__open-sans: "open sans";

//Font-size
$font-size__title-3: 36px;
$font-size__title-4: 24px;

$font-size__content: 16px;

$font-size__footer: 14px;


// Colors
$white: #fff;

// Gradients

// Shadows
$shadow-link-white: 0px 0px 5px rgba(255, 255, 255, 0.5);

// Paddings
$padding-page-desktop: 100px 130px 50px;

