.circle {
  position: fixed;
  border-radius: 50%;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0.9;
  transition: top 7s ease-in-out, left 10s ease-in-out, width 3s ease-in-out, height 3s ease-in-out;
}

.circle_1 {
  background: radial-gradient(#FFFFCC, #0000);
  top: -20%;
  left: -20%;
}

.circle_2 {
  background: radial-gradient(#CCFFFF, #0000);
  top: 0;
  left: 100%;
}

.circle_3 {
  background: radial-gradient(#CCFFCC, #0000);
  top: 100%;
  left: 100%;
}

.circle_4 {
  background-color: white;
  opacity: 0.3;
  top: 100%;
  left: 0;
}

.circle_5 {
  background-color: white;
  opacity: 0.5;
  top: 100%;
  left: 100%;
}