.navBtns {
  display: none;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 50px;
  z-index: 1000;

  @include media(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navBtn {
  width: 49.5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  transition: all 0.2s;
  opacity: 0.9;

  &:hover {
    background-size: 70%;
    opacity: 1;
  }

  &:active {
    background-size: 65%;
    opacity: 1;
  }

  &Up {
    border-radius: 15px 0 0 15px;
    background-image: url("../../assets/images/arrow-up.svg");
    box-shadow: inset 2px 0 5px rgba(0, 0, 0, 0.5);

    &:hover {
      box-shadow: inset 3px 0 10px rgba(0, 0, 0, 0.5);
    }

    &:active {
      box-shadow: inset 2px 0 5px rgba(0, 0, 0, 0.5);
    }
  }

  &Down {
    border-radius: 0 15px 15px 0;
    background-image: url("../../assets/images/arrow-down.svg");
    box-shadow: inset -2px 0 5px rgba(0, 0, 0, 0.5);

    &:hover {
      box-shadow: inset -3px 0 10px rgba(0, 0, 0, 0.5);
    }

    &:active {
      box-shadow: inset -2px 0 5px rgba(0, 0, 0, 0.5);
    }
  }
}

