.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 135px 100px;
  position: relative;

  @include media(tablet-lg) {
    padding: 80px 80px 80px 150px;
  }

  @include media(tablet) {
    padding: 100px 60px 200px 60px;
  }

  @include media(phone-lg) {
    padding: 40px 40px 100px 40px;
  }

  &Title {
    font-size: $font-size__title-3;
    height: 60px;
    padding-bottom: 20px;

    @include media(phone-lg) {
      display: none;
    }
  }

  &List {
    padding: 0 20px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5vh;
    font-size: 20px;

    @media(max-height: 719px) {
      font-size: 16px;
    }

    @include media(phone-lg) {
      display: none;
    }

    &Element {
      height: auto;
      position: relative;
      padding: 1.5vh 0 0 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.8);

        @include media(phone-lg) {
          display: none;
        }
      }
    }
  }

  &Skills {

    @include media(phone-lg) {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    &Group {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 5px 0;

      @include media(tablet-lg) {
        width: 500px;
        height: auto;
        flex-wrap: wrap;
      }

      @include media(phone-lg) {
        width: 80vw;
      }
    }

    &Image {
      margin: 5px 10px;
      transition: transform 0.5s;
      height: 30px;


      @media(max-height: 719px) {
        height: 20px;
        margin: 3px 5px;
      }

      @include media(tablet-lg) {
        height: 25px;
        margin: 3px 5px;
      }

      &:hover {
        transform: scale(1.2);
        z-index: 10;
      }
    }

    @include media(phone-lg) {
      height: auto;
      transform: none;
      margin: 3px;
    }
  }
}
