.section4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 100;
  padding: 100px 150px 100px;

  @include media(phone-lg) {
    padding: 60px;
  }

  &Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &Text {
    margin: 10px;
  }

  &Mail {
    margin: 10px 0 20px;
  }

  &Links {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }

  &Link {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 20px;
    transition: all 0.3s;

    @include media(phone-lg) {
      margin: 10px;
      width: 40px;
      height: 40px;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transition: all 0.1s;
      transform: scale(1.05);
    }
  }

  &Link1 {
    background-image: url('../../assets/images/GitHub-Mark-64px.png');
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    @include media(phone-lg) {
      width: 40px;
      height: 40px;
    }
  }

  &Link2 {
    background-image: url('../../assets/images/Whatsapp-logo.svg');
    border-radius: 50% 50% 50% 10%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    @include media(phone-lg) {
      width: 45px;
      height: 45px;
    }
  }

  &Link3 {
    background-image: url('../../assets/images/Gmail_icon_(2020).svg');
    width: 55px;
    border-radius: 25%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    @include media(phone-lg) {
      width: 40px;
      height: 40px;
    }
  }

  &Link4 {
    background-image: url('../../assets/images/VK_Compact_Logo.svg');
    width: 50px;
    height: 50px;
    border-radius: 23%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    @include media(phone-lg) {
      width: 40px;
      height: 40px;
    }
  }

  &Link5 {
    background-image: url('../../assets/images/logo-codewars.svg');
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    @include media(phone-lg) {
      width: 40px;
      height: 40px;
    }
  }

  &Link6 {
    background-image: url('../../assets/images/logo-gitlab.svg');
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    @include media(phone-lg) {
      width: 40px;
      height: 40px;
    }
  }

  &Link7 {
    background-image: url('../../assets/images/logo-telegramm.svg');
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 210%;
    background-position: center;
    background-repeat: no-repeat;

    @include media(phone-lg) {
      width: 40px;
      height: 40px;
    }
  }

  &Signature {
    position: absolute;
    bottom: 0;
    display: flex;

    & p {
      padding: 10px 20px 20px 20px;

      @include media(phone-lg) {
        padding: 10px 10px 20px 10px;
        text-align: center;
      }
    }

    &Name {
      font-size: $font-size__footer;
    }

    &Text {
      font-size: $font-size__footer;
      opacity: 0.7;
    }
  }
}
