.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 135px 50px;

  @include media(tablet-lg) {
    padding: 100px 150px 100px;;
  }

  @include media(tablet) {
    padding: 60px 60px 200px 60px;
  }

  @include media(phone-lg) {
    padding: 40px 40px 100px 40px;
  }

  &Title {
    font-size: $font-size__title-3;

    @include media(phone-lg) {
      font-size: $font-size__content;
    }
  }

  &List {
    padding: 20px 20px 20px 60px;

    @include media(phone-lg) {
      display: none;
    }

    &Element {
      margin: 7px 0;
      position: relative;
      padding: 0 0 0 30px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 6px;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.8);

        @include media(phone-lg) {
          display: none;
        }
      }
    }
  }

  &Skills {

    @include media(phone-lg) {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    &Group {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media(tablet-lg) {
        width: 500px;
        height: auto;
        flex-wrap: wrap;
      }

      @include media(phone-lg) {
        width: 80vw;
      }
    }

    &Image {
      margin: 5px;
    }

    @include media(phone-lg) {
      margin: 3px;
    }
  }
}
