.section1 {
  padding: 100px 150px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media(tablet) {
    padding: 60px 60px 200px 60px;
  }

  @include media(phone-lg) {
    padding: 40px 40px 100px 40px;
    justify-content: space-around;
  }

  &Title {
    font-size: $font-size__title-1;
    font-weight: 900;
    margin: 0 0 40px 0;
    text-align: center;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg, rgb(0, 0, 0) 48%, rgb(153, 204, 255), rgb(0, 0, 0) 52%);
    background: -moz-linear-gradient(45deg, rgb(0, 0, 0) 48%, rgb(153, 204, 255), rgb(0, 0, 0) 52%);
    background: linear-gradient(45deg, rgb(0, 0, 0) 48%, rgb(153, 204, 255), rgb(0, 0, 0) 52%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: all 0.5s;

    @include media(phone-lg) {
      font-size: $font-size__content;
      margin: 0 0 20px 0;
    }
  }

  &Name {
    font-size: $font-size__title-3;
    margin: 0 0 40px 0;
    text-align: center;

    @include media(phone-lg) {
      font-size: $font-size__content;
      margin: 0 0 20px 0;
    }
  }

  &Text1 {
    text-align: center;
    margin: 0 0 10px 0;

    @include media(phone-lg) {
      font-size: $font-size__footer;
    }
  }

  &Text2 {
    text-align: center;
    margin: 0 0 40px 0;

    @include media(phone-lg) {
      font-size: $font-size__footer;
      margin: 0;
    }
  }

  &BtnDownload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 36px;
    border-radius: 30px;
    color: black;
    box-shadow: $shadow-link-black5;
    transition: all 0.3s;

    &:hover {
      box-shadow: $shadow-link-black10;
      transform: scale(1.03);
    }

    &:active {
      transition: all 0.1s;
      box-shadow: $shadow-link-black5;
      transform: scale(1.01);
    }
  }
}
