.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $padding-page-desktop;

  &Title {
    font-size: $font-size__title-4;
    margin: 0 0 30px 0;
  }

  &Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
  }

  &Btn {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transition: all 0.1s;
      transform: scale(1.05);
    }
  }

  &BtnLeft {
    background-image: url("../../assets/images/arrow-left.svg");
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &BtnRight {
    background-image: url("../../assets/images/arrow-right.svg");
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
  }

  &ProjectsRow {
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    position: relative;
    display: flex;
    box-shadow: $shadow-link-black5;
  }

  &Projects {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.4s;
  }

  &Project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-width: 300px;
    height: 360px;
    border: green 1px solid;
  }
}
