.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $padding-page-desktop;

  &Title {
    font-size: $font-size__title-3;
  }

  &List {
    padding: 20px 20px 20px 60px;

    &Element {
      margin: 7px 0;
      position: relative;
      padding: 0 0 0 30px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 6px;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  &Skills {
    &Group {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &Image{
      margin: 5px;
    }
  }
}
